<div class="profileComp">
    <h1 style="color: white;">Profile</h1>
    <div class="profile-container">


        <mat-card style="display: flex; flex-direction: column; align-items: center;">
            <mat-card-header>
              <mat-card-title> Profile</mat-card-title>
            </mat-card-header>
            <mat-card-content style="display: flex; flex-direction: column; align-items: center;">
             <mat-card style="height: 10vh; width: 10vh;">
                <img style="height: 10vh; width: 10vh; object-fit: cover; border-radius: 12px;" [src]="user.photoURL" alt="no img">
             </mat-card>
             <div style="display: flex; justify-content: left; flex-direction: column;">
                 <mat-card-subtitle class="profileData-holder">DisplayName: {{user.displayName}}</mat-card-subtitle>
                 <mat-card-subtitle  class="profileData-holder">Email: {{user.email}}</mat-card-subtitle>

             </div>
            </mat-card-content>
          </mat-card>



        <mat-card>
          <mat-card-header>
            <mat-card-title>Edit Profile</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form style="display: flex; flex-direction: column;" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Display Name</mat-label>
                <input matInput formControlName="displayName" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Profile Image URL</mat-label>
                <input matInput formControlName="profileImage" />
              </mat-form-field>
              <div class="button-group">
                <button mat-raised-button color="primary" type="submit">Save</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>



      </div>
</div>
