<mat-drawer-container style="height: 100%;" class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div style="display: flex; height: 100%; width: 100%; flex-direction: column; align-items: center; background-color: rgb(57, 57, 73)">

      <a *ngIf="(userService.isLoggedIn$ | async)" class="sidenav-item" [routerLink]="['profile']" routerLinkActive="active"><mat-icon>account_circle</mat-icon>Profile</a>
      <a class="sidenav-item"  [routerLink]="['home']" routerLinkActive="active"><mat-icon>home</mat-icon>Home</a>
      <a *ngIf="!(userService.isLoggedIn$ | async)" class="sidenav-item" [routerLink]="['auth/login']" routerLinkActive="active"><mat-icon>account_box</mat-icon>Login</a>
      <a *ngIf="!(userService.isLoggedIn$ | async)" class="sidenav-item" [routerLink]="['auth/register']" routerLinkActive="active"><mat-icon>account_box</mat-icon>Register</a>

      <!-- <a *ngIf="!(userService.isLoggedIn$ | async)" class="sidenav-item">Nav3</a>
      <a *ngIf="!(userService.isLoggedIn$ | async)" class="sidenav-item">Nav4</a> -->
      <a class="sidenav-item" [routerLink]="['updates']" routerLinkActive="active"><mat-icon>sync</mat-icon>Updates</a>
      <a *ngIf="(userService.isLoggedIn$ | async)" class="sidenav-item" (click)="userService.logout()"><mat-icon>keyboard_return</mat-icon>Logout</a>
      <a class="sidenav-item"  [routerLink]="['contact']" routerLinkActive="active"><mat-icon> contact_mail</mat-icon>Contact</a>
      <div *ngIf='userService.isAnAdmin' class="sidenav-item" style="color: rebeccapurple; background-color: white;">
        Admin Routes
      </div>
      <a *ngIf='userService.isAnAdmin' class="sidenav-item" [routerLink]="['create_update']" routerLinkActive="active" >Create updates</a>
    </div>
  </mat-drawer>
  
  <mat-drawer-content style="background-color: rgb(43, 43, 53); overflow: auto">
  <div class="example-sidenav-content" style="position: fixed">
    <button class="btn-menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <router-outlet></router-outlet>
  </mat-drawer-content>
 
</mat-drawer-container>