   

<div class="first-container" style="background-image: url('{{ backgroundImg }}'); background-position: 50% 75%; background-size: cover; background-repeat: no-repeat;">
    <h1 class="Title-animation" style="color: white; font-family:'Times New Roman', Times, serif;">Gaming Life</h1>

</div>
<div class="information-container">
    <div style="display: flex;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <h3 class="title-text">Join Our Thriving Gaming Community</h3>
            <img style="border-radius: 10px; width: 75%;" src="https://media1.tenor.com/m/ytbz1Epg7Q8AAAAC/predator-arnold.gif" alt="Img failed to load">
            <h3 class="descript-text" >
                Harness the power of connection in our vibrant gaming haven. Dive into a world where camaraderie and competition fuel endless adventures. Join today and level up your gaming experience!
            </h3>
        </div>
    </div>
    <div style="display:flex">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <h3 class="title-text">Capture and Share Memorable Moments</h3>
            <img style=" border-radius: 10px; width: 40%;" src="https://media1.tenor.com/m/wElv76R_7E8AAAAC/aquarium-shenanigans.gif" alt="Img failed to load">
            <h3 class="descript-text">
                Immortalize your triumphs and epic encounters! Whether it's a heart-pounding victory or a hilarious fail, share your gaming journey with the world. Every moment is a story waiting to be told. Start sharing now!
            </h3>
        </div>
    </div>
</div>
<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 10vh;">
    <a href="auth/register">

        <button mat-raised-button color="primary">Join Now</button>
    </a>
</div>
