   

<div *ngIf="!(_userService.isLoggedIn$ | async)" class="first-container" style="background-image: url('{{ backgroundImg }}'); background-position: 50% 75%; background-size: cover; background-repeat: no-repeat;">
    <h1 class="Title-animation" style="color: white; font-family:'Times New Roman', Times, serif;">Progressive Web Application</h1>

</div>
<div *ngIf="!(_userService.isLoggedIn$ | async)"  class="information-container">
    <div class="home-container">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <h3 class="title-text"> A simple Pwa that is connected to firebase</h3>
            <img style="border-radius: 10px; width: 75%;" [src]="img2" alt="Img failed to load">
            <h3 class="descript-text">
                Building a web application is made easy with Firebase's versatile functions.<br> Key features include:
            
                <ul style="font-weight: 100;">
                    <li><strong>Authentication with Email and Password:</strong> Securely manage user authentication using Firebase's built-in email and password sign-in method.</li>
                    <li><strong>Realtime Database:</strong> Store and sync data in real-time across all connected clients, ensuring seamless data consistency.</li>
                        <ul>
                            <li><strong>Cloud Firestore:</strong> Scalable database solutions for more complex data structures.</li>
                            <li><strong>Firebase Hosting:</strong> Fast and secure web hosting to deliver your app to users efficiently.</li>
                            <li><strong>Firebase Cloud Messaging:</strong> Push notifications to keep your users engaged and informed.</li>
                        </ul>
                    
                </ul>
            </h3>
        </div>
    </div>
    <div class="home-container">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <h3 class="title-text">A Pwa that feels and acts like a native mobile application</h3>
            <img style="border-radius: 10px; width: 75%; height: 35%;" [src]="img3" alt="Img failed to load">
            <h3 class="descript-text">
               
                Pwa are web apps that offer a native app-like experience. <br>Key benefits include:

                <ul style="font-weight: 100;">
                    <li><strong>Standalone Display:</strong> PWAs can be installed on the user's device and launched from the home screen, opening in a separate window without the browser UI, just like a native app.</li>
                    <li><strong>Responsive Design:</strong> PWAs are built to work on any device and screen size, providing a consistent experience across desktops, tablets, and smartphones.</li>
                    <li><strong>Improved Performance:</strong> Leveraging modern web technologies, PWAs offer fast loading times and smooth interactions, enhancing user satisfaction.</li>
                </ul>
            </h3>
        </div>
    </div>
</div>
<div *ngIf="!(_userService.isLoggedIn$ | async)"  style="display: flex; justify-content: center; align-items: center; margin-bottom: 10vh; gap: 20px;">
    <a href="auth/login">

        <button mat-raised-button color="primary">Login</button>
    </a>
    <a href="auth/register">

        <button mat-raised-button color="primary">Register</button>
    </a>
</div>

<div style="display: flex; justify-content: center;" *ngIf="(_userService.isLoggedIn$ | async)" >
    <div style="display: flex; flex-direction: column;">
        <h3 style="color: white;">If you see this message you are logged in</h3>
        <h3 class="std-color">This will be updated in the future</h3>
    </div>
</div>
