.Title-animation{
    color: white;
    font-size: 4rem;
    z-index: 2;
    animation-name: animTitle;
    animation-duration: 1.5s;
}
.title-text{
    font-size: 1.5em; 
    font-family:'Times New Roman', Times, serif;
     color: white;
}

.descript-text{
    // padding: 2em; 
    font-family:'Times New Roman', Times, serif;
     color: white;
     width: 70%;
}
.first-container{
    z-index: 2;
    height: 30vh; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
.information-container{
    display: flex;
    flex-direction: row;
}

.home-container{
  display: flex;
   min-width: 50%;
    max-width: 50%;
}
@keyframes animTitle {
    from {
      transform: translateY(-400%);
    }
  
    to {
      transform: translateY(0%);
    }
  }

.userList-box{
  display: flex; 
  align-items: center;
   gap: 1rem;
   border-radius: 1rem;
}
.userList-box:hover{
  transition: transform 0.5s;
  background-color: whitesmoke;
  transform: scale(1.1,1.1);
  cursor: pointer;
}
.userList-box:hover > h3{
  color: black;
}



  @media only screen and (max-width: 768px) {
  
    .Title-animation{
        color: white;
        font-size: 1.5rem;
        z-index: 2;
        animation-name: animTitle;
        animation-duration: 1.5s;
    }
    .information-container{
        display: flex;
        flex-direction: column;
    }
   .title-text{
        font-size: 1em;
   }
   .descript-text{
    font-size: 0.8em;
    margin: 0;
    }
    .home-container{
      max-width: 100%;
    }
    ul{padding: 0;};
    li{
      padding:0.5rem;
    }
    h3{
      text-align: center;
      padding: 1rem;
    }
  }